{% extends 'bookingsbackend/template.html' %}
{% load static %}


{% block content %}

    
    <div class="wrapper" id="arrivalswrapper">
        <input type="text" class="form-control" id="arrivalssearch" onkeyup=arrivalsfilter() autofocus placeholder="Arrivals filter"></input>
        <h4>Due Arrivals</h4>
        <table id="duetablefull" class="table table-striped">
            <thead>
                <th>Surname</th>
                <th>Departure</th>
                <th>Pitch</th>
                <th>Party Members</th>
                <th>Vehicle Reg</th>
            </thead>
            <tbody id="duetable">
                {% if duearrivals|length == 0 %}
                    <td colspan="5">There are no due arrivals</td>
                {% endif %}
                {% for arrival in duearrivals %}
                    {% if not arrival.balance == 0 %}
                        <tr id="arrival-{{arrival.id}}" data-surname="{{arrival.guest.surname}}" onclick=displaycheckinpane({{arrival.id}}) class="clickable overdue disolvable arrival">
                    {% else %}
                        <tr id="arrival-{{arrival.id}}" data-surname="{{arrival.guest.surname}}" onclick=displaycheckinpane({{arrival.id}}) class="clickable disolvable arrival">
                    {% endif %}
                        
                            <td>{{arrival.guest.surname}}, {{arrival.guest.firstname}}</td>
                            <td>{{arrival.end}}</td>
                            <td>{{arrival.pitch.name}}</td>
                            <td>
                                {% for member in arrival.bookingparty.all %}
                                    
                                        {% if member.checkedin %}    
                                            <p id="guest-{{member.id}}" class="checkedin">{{member.firstname}} {{member.surname}}</p>
                                        {% else %}
                                            <p id="guest-{{member.id}}">{{member.firstname}} {{member.surname}}</p>
                                        {% endif %}
                                    
                                {% endfor %}
                            </td>
                            <td>
                                {% for vehicle in arrival.bookingvehicles.all %} 
                                    {% if not vehicle.noshow %}
                                        {% if vehicle.checkedin %}
                                            <p id="vehicle-{{vehicle.id}}" class="checkedin">{{vehicle.vehiclereg}}</p>
                                        {% else %}
                                            <p id="vehicle-{{vehicle.id}}">{{vehicle.vehiclereg}}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
            
        <h4>Arrived</h4>
        <table class="table table-striped">
            <thead>
                <th>Surname</th>
                <th>Departure</th>
                <th>Pitch</th>
                <th>Party Members</th>
                <th>Vehicle Reg</th>
            </thead>
            <tbody id="arrivedtable">
                {% if checkedinarrivals|length == 0 %}
                    <td colspan="5">There are no checked-in arrivals</td>
                {% endif %}
                {% for arrival in checkedinarrivals %}
                    <tr id="arrival-{{arrival.id}}" data-surname="{{arrival.guest.surname}}" onclick=displaycheckinpane({{arrival.id}}) class="clickable disolvable arrival">
                        <td>{{arrival.guest.surname}}, {{arrival.guest.firstname}}</td>
                        <td>{{arrival.end}}</td>
                        <td>{{arrival.pitch.name}}</td>
                        <td>
                            {% for member in arrival.bookingparty.all %}
                                
                                    {% if member.checkedin %}    
                                        <p id="guest-{{member.id}}" class="checkedin">{{member.firstname}} {{member.surname}}</p>
                                    {% else %}
                                        <p id="guest-{{member.id}}">{{member.firstname}} {{member.surname}}</p>
                                    {% endif %}
                                
                            {% endfor %}
                        </td>
                        <td>
                            {% for vehicle in arrival.bookingvehicles.all %} 
                                {% if not vehicle.noshow %}
                                    {% if vehicle.checkedin %}
                                        <p id="vehicle-{{vehicle.id}}" class="checkedin">{{vehicle.vehiclereg}}</p>
                                    {% else %}
                                        <p id="vehicle-{{vehicle.id}}">{{vehicle.vehiclereg}}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <script src="{% static '/js/arrivals.js' %}"></script>
{% endblock %}