{% extends 'bookingsbackend/template.html' %}


{% block content %}

    
    <div class="wrapper" id="arrivalswrapper">
        <h4>Due Arrivals</h4>
        <table class="table table-striped">
            <thead>
                <th>Surname</th>
                <th>Departure</th>
                <th>Party Details</th>
                <th>Vehicle Reg</th>
            </thead>
            <tbody id="duetable">
                {% for arrival in duearrivals %}
                    <tr class="disolvable" style="animation-play-state: paused;">
                            {% if not arrival.balance == 0 %}
                                <td onclick=displaybookingpane({{arrival.id}}) class="overdue clickable">{{arrival.guest.surname}}, {{arrival.guest.firstname}}</td>
                            {% else %}
                                <td onclick=displaybookingpane({{arrival.id}}) class="clickable">{{arrival.guest.surname}}</td>
                            {% endif %}
                            
                            <td onclick=displaybookingpane({{arrival.id}}) class="clickable">{{arrival.end}}</td>
                            <td onclick=displaybookingpane({{arrival.id}}) class="clickable"><p class="partydetail"><i class="fas fa-male"></i> - {{arrival.adultno}}</p>
                                <p class="partydetail"><i class="fas fa-child"></i> - {{arrival.childno}}</p>
                                <p class="partydetail"><i class="fas fa-baby"></i> - {{arrival.infantno}}</p></td>
                            <td onclick=displaybookingpane({{arrival.id}}) class="clickable">
                                {% for vehicle in arrival.bookingvehicles.all %} 
                                    {% if vehicle.checkedin %}
                                        <p class="checkedin">{{vehicle.vehiclereg}}</p>
                                    {% else %}
                                        <p>{{vehicle.vehiclereg}}</p>
                                    {% endif %}

                                {%endfor%}
                            </td>
                        
                    </tr>
                {%endfor%}
            </tbody>
        </table>
            
        <h4>Arrived</h4>
        <table class="table table-striped">
            <thead>
                <th>Surname</th>
                <th>Departure</th>
                <th>Party Details</th>
                <th>Vehicle Reg</th>
            </thead>
            <tbody id="arrivedtable">
                {% for arrival in checkedinarrivals %}
                    <tr class="disolvable" style="animation-play-state: paused;">
                        <td onclick=displaybookingpane({{arrival.id}}) class="clickable">{{arrival.guest.surname}}</td>
                        <td onclick=displaybookingpane({{arrival.id}}) class="clickable">{{arrival.end}}</td>
                        <td onclick=displaybookingpane({{arrival.id}}) class="clickable"><p class="partydetail"><i class="fas fa-male"></i> - {{arrival.adultno}}</p>
                            <p class="partydetail"><i class="fas fa-child"></i> - {{arrival.childno}}</p>
                            <p class="partydetail"><i class="fas fa-baby"></i> - {{arrival.infantno}}</p></td>
                        <td onclick=displaybookingpane({{arrival.id}}) class="clickable">{{arrival.vehiclereg}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}