{% extends 'bookingsbackend/template.html' %}
{% load static %}


{% block content %}

    
    <div class="wrapper" id="arrivalswrapper">
        <div class="accordion accordion-flush" id="arrivalssummary">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Show Arrivals Summary
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <thead>
                                <th>Item</th>
                                <th>Total</th>
                                <th>In</th>
                                <th>Due</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>People</td>
                                    <td id="totalpersoncount"></td>
                                    <td id="inpersoncount"></td>
                                    <td id="duepersoncount"></td>
                                </tr>
                                <tr>
                                    <td>Vehicles</td>
                                    <td id="totalvehiclecount"></td>
                                    <td id="invehiclecount"></td>
                                    <td id="duevehiclecount"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <form id="datepicker">
            <input type="date" onChange=choosearrivalday(this) id="arrivaldate" class="form-control" name="startdate"></input>
        </form>
    
        <input type="text" class="form-control" id="arrivalssearch" onkeyup=arrivalsfilter() autofocus placeholder="Arrivals filter"></input>
        
        
        

        <hr>

        <h4>Due Arrivals</h4> 
        <div class="table-responsive">
            <table id="duetablefull" class="table table-hover">
                <thead>
                    <th>Surname</th>
                    
                    <th>Pitch</th>
                    <th>Balance</th>
                    <th>Party Members</th>
                    <th>Vehicle Reg</th>
                </thead>
                <tbody id="duetable">
                    {% if duearrivals|length == 0 %}
                        <td colspan="5">There are no due arrivals</td>
                    {% endif %}
                    {% for arrival in duearrivals %}
                        <tr id="arrival-{{arrival.id}}" data-surname="{{arrival.guest.surname}}" onclick=displaycheckinpane({{arrival.id}}) class="clickable disolvable arrival">
                        
                            
                            <td>{{arrival.guest.surname}}, {{arrival.guest.firstname}}</td>
                            <td>{{arrival.pitch.name}}</td>
                            
                            {% if arrival.balance > 0 %}
                                <td style="color:red;">£{{arrival.balance|floatformat:2}}</td>
                            {% else %}
                                <td style="color:green;">£{{arrival.balance|floatformat:2}}</td>
                            {% endif %}

                            <td class="partylist">
                                {% for member in arrival.bookingparty.all %}
                                    {% if member.start|date:"Y-m-d" == arrivaldate|date:"Y-m-d" %}    
                                        {% if member.checkedin %}    
                                            <p id="guest-{{member.id}}" class="person checkedin">
                                                {% if member.type == "Adult"%}
                                                    <i class="fas fa-male"></i>
                                                {% elif member.type == "Child" %}
                                                    <i class="fas fa-child"></i>
                                                {% else %}
                                                    <i class="fas fa-baby"></i>
                                                {% endif %}
                                                {{member.firstname}} {{member.surname}}</p>
                                        {% else %}
                                            <p id="guest-{{member.id}}" class="person">
                                                {% if member.type == "Adult"%}
                                                    <i class="fas fa-male"></i>
                                                {% elif member.type == "Child" %}
                                                    <i class="fas fa-child"></i>
                                                {% else %}
                                                    <i class="fas fa-baby"></i>
                                                {% endif %}
                                                {{member.firstname}} {{member.surname}}</p>
                                        {% endif %}
                                    
                                    {% endif %}
                                    
                                {% endfor %}
                            </td>
                            <td class="partyvehicles"> 
                                {% for vehicle in arrival.bookingvehicles.all %} 
                                    {% if vehicle.start|date:"Y-m-d" == arrivaldate|date:"Y-m-d" %} 
                                        {% if not vehicle.noshow %}
                                            {% if vehicle.checkedin %}
                                                <p id="vehicle-{{vehicle.id}}" class="vehicle checkedin">{{vehicle.vehiclereg}}</p>
                                            {% else %}
                                                <p id="vehicle-{{vehicle.id}}" class="vehicle">{{vehicle.vehiclereg}}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            
    </div>
    <script src="{% static '/js/arrivals.js' %}"></script>
{% endblock %}