{% extends 'bookingsbackend/template.html' %}
{% load static %}

{% block content %}
    <form id="datepicker">
        <input type="date" onChange=repositioncalendar() id="startdate" class="form-control" name="startdate"></input>
    </form>

    <div id="calendar"></div>

    <div id="controlpanel" class="visible">
        <button type="button" id="displaybutton" class="btn btn-light" disabled>Display</button>
        <button type="button" id="movebutton" class="btn btn-light" disabled>Move</button>
        <button type="button" id="fulleditbutton" class="btn btn-light" disabled>Full Edit</button>
    </div>

    <script src="{% static '/js/calendar.js' %}"></script>
{% endblock %}