{% extends 'bookingsbackend/template.html' %}
{% load static %}

{% block content %}
    <div class="wrapper" id="dashboardwrapper">
        <div class="dashboarditem" id="arrivalforecast">
            <h4>Arrivals Forecast</h4>
            <img class="dashboardimage" src="{% static '/images/arrivalsbytime.png' %}" width=100%>
        </div>
        <div class="dashboarditem" id="arrivals">
            <a href="{% url 'arrivals' %}">
                <h4>Check-In Summary</h4>
                <img class="dashboardimage" src="{% static '/images/arrivals.png' %}" width=100%>
            </a>
        </div>
        <div class="dashboarditem" id="income"><!--shows todays income summary-->
            <h4>Income Summary</h4>
            <p class="textsummary">£{{paymentsvalue}}</p>
        </div>
    </div>
    <script src="{% static '/js/dashboard.js' %}"></script>
{% endblock %}