:root {
    --darkturquoise: rgb(42, 147, 130);
}

body {
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    color: darkslategray;
    font-family: 'Montserrat';
}

h3 {
    margin-bottom: 30px
}

#primarynav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom:40px
}

#primarynavitems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding: 0px 20px;
}

.navitem a {
    text-decoration: none;
    color: darkslategray;
    letter-spacing: 2px;
}

.navitem a:hover {
    color: var(--darkturquoise);
    border-bottom: solid 1px var(--darkturquoise);

}

#navlogo {
    width: 200px
}

#profilepic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

/* Calendar Styling Starts Here */

#datepicker {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

#datepickerbuttons {
    flex-direction: row;
}

#datepicker input {
    max-width: 200px
}

#calendar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 100vw;
    border: solid 1px rgba(33, 35, 51, 1);
    margin-top: 20px
}

.pitchtypediv {
    width: 100%
}

#maincalendarheader .calendaritem, .pitchtitle {
    font-size: 80%;
    color: white;
    background-color: darkslategray
}


#calendarrowtitles {
    position: sticky;
}

.calendarrow {
    display: flex
}


.calendaritem {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: center;
    min-width: 120px;
    height: 30px;
    border: solid 1px darkslategray;
    padding: 5px;
}

.pitchtypetitle {
    display: flex;
    flex-direction: column;
    height: auto;
}

.pitchtyperowheadertitle, .pitchdivspacer {
    margin-bottom: 0px;
    height: 34px; /* This is necessary to keep calendar pitch type divs aligned */
    padding: 5px; /* And this... */
    overflow: visible;
    white-space: nowrap;
}


/* testing styling */
#calendar {
    min-width: 90%;
    min-height: 100px;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    
}

#calendarleft {
    grid-column-start: 1;
    grid-column-end: 2;
}

#calendarright {
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-x: scroll;

}

/* end testing styling */

.balancedue {
    background-color: red;
}

.bookingcheckedin {
    background-color: lightgreen;
}

.bookingnotcheckedin{
    background-color: rgb(42, 147, 130);
}

.calendaritem p {
    margin: 0px
}


.calendaritem p {
    padding: 0px;
    font-size: 80%
}

.dateloadbutton {
    color: var(--darkturquoise);
    height: 95%;
    font-size: 50%;
}

/* Booking pane styling starts here */

.panewrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(33, 35, 51, 0.5);
}

.pane, #checkinpane {
    position: relative;
    max-height: 90vh;
    width: 80%;
    padding: 30px;
    background-color: white;
    border: solid 1px darkslategray;
    border-radius: 5px;
    overflow-y: scroll;
}

#rateselectdiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#rateselectdiv input, #rateselectdiv label {
    max-width: 200px
}

.optionselect {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.unitselectbutton {
    margin: 10px;
    padding: 20px
}

.large {
    font-size: 200%;
}

.messagediv {
    margin-bottom: 20px;
}

.basicbookinginfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.panepartydetail {
    font-size: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.closebutton {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 200%;
    text-align: center;
}



form input {
    margin-bottom: 15px;
}

#searchresultsdiv {
    height: 100px;
    overflow-y: scroll;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 16px 12px;
}

.paymentdetails, #commentspane, #partypane {
    position: relative;
    padding: 30px;
    background-color: lightgray;
    border: solid 1px darkslategray;
    border-radius: 5px;
}

#controlpanel {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color: darkslategray;
    padding: 20px; 
    border-top: 2px solid white;
}

#editactionpanel { 
    margin-top: 30px
}

.hidden {
    position: fixed;

}

.visible {
    position: fixed;
    bottom: 0px
}

.message {
    color: black;
}

/* Dashboard Styling Starts Here */

#dashboardwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    
}

.dashboarditem {
    max-width: 500px;
    min-width: 300px;
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}

.dashboarditem a {
    text-decoration: none;
    color: darkslategray; 
}

.dashboarditem:hover {
    border-color: var(--darkturquoise);
}

.textsummary {
    font-size: 125%;
    width: 100%;
    text-align: center;
}

/* Arrivals List Styling Starts Here */

#arrivalswrapper {
    padding: 20px
}

#arrivalssearch {
    margin-bottom: 20px
}

#duetablefull {
    margin-bottom:100px;
}

.partydetail {
    margin: 0px
}

.overdue {
    color: red;
}

.clickable {
    cursor: pointer;
}

.checkedin {
    color: green
}

#vehiclesdiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#partydiv {
    display: flex;
    flex-direction: column;
}

#checkinpane div {
    margin: 20px;
}

#checkinpane button {
    margin: 10px
}

/* Login Form styling starts here */

#logincontainer form {
    min-width: 300px;
}

#logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginbuttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

